.vscode
.ipynb_checkpoints
*output*
spark-warehose
hw08_neo4j_graph/docker/conf
hw08_neo4j_graph/docker/data
hw08_neo4j_graph/docker/import
hw08_neo4j_graph/docker/logs
hw08_neo4j_graph/docker/plugins
*lab*
hw11_nlp/data/
*lecture*
week10_spark_ML
final_project/.scalafmt.conf
final_project/demo-small-en-20170815.sql
hw10_sparl_ML/data
final_project/.metals
final_project/flights-graphETL/.bloop
final_project/flights-graphETL/.metals
final_project/flights-graphETL/target
final_project/flights-graphETL/.scalafmt.conf